/* Global styles */

* {
    background-color: #0A172D;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #F2F7FF;
    font-family: Montserrat, sans-serif;
}

body {
    text-align: center;
    height: 100vh;
}

header {
    text-align: center;
    display: block;
    margin: 0 auto; 
    
   
  
  
  
}

h1 {
    font-size: 2.8rem;
    font-weight: 1200;
    margin-top: 1.5%;
}

h2 {
    margin-bottom: 1.5%;
}

/* Game area styles */

#game-area {
    display: flex;
    width: 860px;
    height: 640px;
    margin: auto;
    flex-wrap: wrap;
    
}

.cards {
    
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transform: scale(1);
    
    
}

.cards:active {
    transform: scale(0.96);
    transition: transform .25s;
}


.card-back, 
.card-front {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 0;
    position: absolute; 
    background-color: #0A172D;
}

/* Info area styles */

#info-area {
    width: 860px;
    text-align: center;
    margin: auto;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.5%;
    clear: both;
    
}

button {
    background-image: linear-gradient(#0BBCCF, #11E3FA, #0BBCCF);
    border: 2px solid #F2F7FF;
    color: #0A172D;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    width: 200px;
}

button:hover {
    border: 2px solid #2636CA;
}

#how-to-play {
    float: left;
}

#restart {
    float: right;
    margin-right: 20px;
}

/* Media queries */

@media (max-width: 900px) {
    
    header {
        text-align: center;
        
    }

    #game-area {
        width: 640px;
        height: auto;
        
    }

    #info-area {
        width: 640px;
    }

    #how-to-play {
        margin-left: 5px;
    }

    #restart {
        margin-right: 15px;
    }
}

@media (max-width: 680px) {
    body {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    
    header {
        
        text-align: center;
    }

    img {
        width:auto;
        height:auto;
    }
}